[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://chromium.googlesource.com/chromium/src/third_party/abseil-cpp
[submodule "third_party/angle"]
	path = third_party/angle
	url = https://chromium.googlesource.com/angle/angle
