[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://chromium.googlesource.com/chromium/src/third_party/abseil-cpp
[submodule "third_party/angle"]
	path = third_party/angle
	url = https://chromium.googlesource.com/angle/angle
[submodule "third_party/swiftshader"]
	path = third_party/swiftshader
	url = https://swiftshader.googlesource.com/SwiftShader
[submodule "third_party/tint"]
	path = third_party/tint
	url = https://dawn.googlesource.com/tint
[submodule "third_party/vulkan-deps"]
	path = third_party/vulkan-deps
	url = https://chromium.googlesource.com/vulkan-deps
[submodule "third_party/vulkan_memory_allocator"]
	path = third_party/vulkan_memory_allocator
	url = https://chromium.googlesource.com/external/github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://chromium.googlesource.com/chromium/src/third_party/zlib
