[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://chromium.googlesource.com/chromium/src/third_party/abseil-cpp
[submodule "third_party/angle"]
	path = third_party/angle
	url = https://chromium.googlesource.com/angle/angle
[submodule "third_party/swiftshader"]
	path = third_party/swiftshader
	url = https://swiftshader.googlesource.com/SwiftShader
[submodule "third_party/tint"]
	path = third_party/tint
	url = https://dawn.googlesource.com/tint
[submodule "third_party/vulkan_memory_allocator"]
	path = third_party/vulkan_memory_allocator
	url = https://chromium.googlesource.com/external/github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://chromium.googlesource.com/chromium/src/third_party/zlib
[submodule "third_party/vulkan-deps/glslang/src"]
	path = third_party/vulkan-deps/glslang/src
	url = https://chromium.googlesource.com/external/github.com/KhronosGroup/glslang
[submodule "third_party/vulkan-deps/spirv-cross/src"]
	path = third_party/vulkan-deps/spirv-cross/src
	url = https://chromium.googlesource.com/external/github.com/KhronosGroup/SPIRV-Cross
[submodule "third_party/vulkan-deps/spirv-headers/src"]
	path = third_party/vulkan-deps/spirv-headers/src
	url = https://chromium.googlesource.com/external/github.com/KhronosGroup/SPIRV-Headers
[submodule "third_party/vulkan-deps/spirv-tools/src"]
	path = third_party/vulkan-deps/spirv-tools/src
	url = https://chromium.googlesource.com/external/github.com/KhronosGroup/SPIRV-Tools
[submodule "third_party/vulkan-deps/vulkan-headers/src"]
	path = third_party/vulkan-deps/vulkan-headers/src
	url = https://chromium.googlesource.com/external/github.com/KhronosGroup/Vulkan-Headers
[submodule "third_party/vulkan-deps/vulkan-loader/src"]
	path = third_party/vulkan-deps/vulkan-loader/src
	url = https://chromium.googlesource.com/external/github.com/KhronosGroup/Vulkan-Loader
[submodule "third_party/vulkan-deps/vulkan-tools/src"]
	path = third_party/vulkan-deps/vulkan-tools/src
	url = https://chromium.googlesource.com/external/github.com/KhronosGroup/Vulkan-Tools
[submodule "third_party/vulkan-deps/vulkan-validation-layers/src"]
	path = third_party/vulkan-deps/vulkan-validation-layers/src
	url = https://chromium.googlesource.com/external/github.com/KhronosGroup/Vulkan-ValidationLayers
